build/
updates/
.vscode
.DS_Store

# Xcode
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcuserstate
buildServer.json
ExportOptions.plist
HexCore/.build
HexCore/.swiftpm/
FluidAudio/
.tmp/

# Claude
.claude/
